.profile-floating-ball {
    width: 50px;
    height: 50px;
    z-index: 1000;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    background-size: cover;
    justify-content: center;
    /* background-color: #12171c; */
    transition: background-color 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-image: url('/assets/iSquare107x107Logo.png'); */
}

.profile-floating-ball:active {
    background-color: #58616c;
}

.floating-ball-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-bud {
    position: relative;
}

.bud-ring {
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px dashed #746b6b;
    transform: translate(-50%, -50%);
}

.child-balls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child-ball {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    margin: -20px 0 0 -15px;
    display: flex;
    /* 使用 Flex 布局 */
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    overflow: hidden;
    background-color: #938d77;
}